body {
    font-family:'Arial', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 3%;
}

h1 {
    text-align: center;
}

#drinks-gif {
    width: 200px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

nav {
    position: fixed;
    right: 10vw;
}

nav ul {
    width: 20vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

section {
    /* border: 2px solid rgb(152, 152, 152); */
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    height: 30vh;
    width: 60vw;
}

