@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Roboto Flex';
    src: url(./fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Flex';
    src: url(./fonts/Roboto/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

@font-face {
    font-family: 'Silka';
    src: url(./fonts/silka-regular-webfont.woff);
    font-weight: 400;
}

@font-face {
    font-family: 'Silka';
    src: url(./fonts/Silka/silka-regularitalic-webfont.woff);
    font-weight: 400;
    font-style: italic;
}

:root {
    --bg-color: #0e0c0c;
    --font-color: #fff;
    --transparent: rgba(0, 0, 0, 0);
    --semi-transparent: rgba(12, 12, 12, 0.452);
    --font-transparent: rgba(255, 255, 255, 0.123);
    --playlist-width: 85%;
    --header-height: 5vh;
    --reel-height: 80vh;
    --audio-height: 15vh;
    --logo-colour: #00d7d7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Roboto Flex', 'Arial', 'sans-serif';
    user-select: none;
}

header {
    display: flex;
    width: fit-content;
    height: var(--header-height);
    align-items: center;
    margin: 1% 1% 3% 2%;
}

#logo {
    fill: var(--logo-colour);
    height: 70%;
    margin: 5%;
}

header:hover #logo {
    animation: spin 1s ease-out;
}

header h1 {
    font-family: 'Silka', 'Arial', 'sans-serif';
    font-size: 1.1em;
    font-weight: 300;
    font-style: italic;
    margin: 0 0 0 2%;
    color: var(--logo-colour);
}

#audio-container {
    text-align: center;
    height: fit-content;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}

#audio-container img {
    cursor: pointer;
    transition: .3s ease all;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    filter: invert(1);
}

#audio-container img:hover {
    background-color: var(--font-color);
}

.pause {
    display: none;
}

.play {
    display: inline;
}

audio {
    width: 75vw;
    opacity: 1;
    filter: invert(1);
}

#song-metadata {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5em;
    font-weight: 100;
}

#reel-container {
    width: 100%;
    height: var(--reel-height);
    overflow-x: scroll;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    position: relative;
}

#reel-container::-webkit-scrollbar {
    height: 10px;
}

#album-reel {
    width: fit-content;
    display: flex;
    margin: 0 100% 15vh 40vw;
    list-style: none;
    position: absolute;
    top: 10%;
}

.reel-item {
    width: 20vw;
    height: fit-content;
    flex: 1 1 100%;
    transform-origin: center;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, var(--transparent), var(--semi-transparent));
    scroll-snap-align: center;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}

.cover-img {
    width: 100%;
}

.item-focus {
    z-index: 999;
    transform: perspective(600px) translateZ(75px) rotateY(0);
    animation: focus .2s ease;
}

.item-left {
    perspective-origin: 50% 0;
    transform: perspective(600px) rotateY(15deg);
    animation: flipLeft .2s ease;
}

.item-right {
    perspective-origin: 50% 0;
    transform: perspective(600px) rotateY(-15deg);
    animation: flipRight .2s ease;
}

#playlist-container {
    position: absolute;
    top: calc(var(--header-height) + var(--audio-height) + var(--reel-height));
    width: 100%;
}

#playlist {
    width: var(--playlist-width);
    text-align: left;
    border-collapse: collapse;
    margin: 8vh auto;
}

th {
    width: calc(var(--playlist-width) / 3);
    padding: 1em 0 1em 1em;
    font-weight: 400;
}

td {
    padding: 1em 0 1em 1em;
    font-weight: 100;
}

tr {
    border-bottom: 1px solid var(--font-transparent);
}

.song-row {
    cursor: pointer;
}

.song-row:hover {
    background-color: var(--font-transparent);
    transition: .2s ease all;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes focus {
    from {
        transform: perspective(600px);
    }
    
    to {
        z-index: 999;
        transform: perspective(600px) translateZ(75px) rotateY(0);
    }

}

@keyframes flipLeft {
    from {
        transform: perspective(600px) rotateY(-15deg);
    }

    to {
        transform: perspective(600px) rotateY(15deg);
    }
}

@keyframes flipRight {
    from {
        transform: perspective(600px) rotateY(15deg);
    }

    to {
        transform: perspective(600px) rotateY(-15deg);
    }
}